html {
    body {
        max-width: 960px;
        margin: auto;
        font-family: 'Lora', serif;
        padding: 8%;

        .container {
            &__content {
                margin: 40px 0;

                p {
                    line-height: 32px;
                }
            }

            &__form {
                display: flex;
                align-items: center;
                justify-content: space-around;
                border: 1px solid darkgray;
                box-shadow: 0 0 5px 5px rgba(221, 221, 221, 0.514);
                border-radius: 5px;
                padding: 24px 32px;

                &__party {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    p {
                        width: max-content;
                    }
                }
    
                .rsvp-form {
                    display: flex;
                    flex-direction: column;
                    width: 45%;
    
                    label {
                        padding: 16px 0 8px 0;
                    }
    
                    input {
                        padding: 8px;
                    }
    
                    button {
                        padding: 16px 0;
                        margin: 16px 0;
                    }
                }
    
                p {
                    text-align: center;
                    width: 10%;
                }
    
                .link-donate {
                    width: 45%;
                    text-align: center;
                    height: max-content;
                    border: 1px solid darkgray;
                    border-radius: 5px;;
                    padding: 8px;
                    background-color: white;
                    color: black;
                    text-decoration: none;
    
                    &:active {
                        color: black;
                    }
    
                    &:hover {
                        background-color: lavender;
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
    }
}