html body {
  max-width: 1020px;
  margin: auto;
  font-family: "Lora", serif;
}
html body .container {
  margin: 24px;
}
html body .container .poster {
  width: 100%;
  box-shadow: 0 0 10px 10px rgba(221, 221, 221, 0.514);
}
html body .container__content {
  margin: 40px 0;
}
html body .container__content h1 {
  border-top: 1px solid darkgray;
  padding-top: 24px;
}
html body .container__content p {
  line-height: 32px;
}
html body .container__form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid darkgray;
  box-shadow: 0 0 5px 5px rgba(221, 221, 221, 0.514);
  border-radius: 5px;
  padding: 24px 32px;
}
html body .container__form__party {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html body .container__form__party input {
  width: 45%;
}
@media only screen and (max-width: 600px) {
  html body .container__form__party input {
    width: auto;
  }
}
html body .container__form__party .price {
  width: 45%;
  font-size: 12px;
}
@media only screen and (max-width: 600px) {
  html body .container__form__party .price {
    margin-top: 8px;
    width: auto;
  }
}
@media only screen and (max-width: 600px) {
  html body .container__form__party {
    flex-direction: column;
    align-items: flex-start;
  }
}
html body .container__form .rsvp-form {
  display: flex;
  flex-direction: column;
  width: 45%;
}
html body .container__form .rsvp-form label {
  padding: 16px 0 8px 0;
}
html body .container__form .rsvp-form input {
  padding: 8px;
}
html body .container__form .rsvp-form button {
  background-color: #a03469;
  border: 1px solid #a03469;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  font-family: "Lora", serif;
  padding: 16px 0;
  margin: 24px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s, color 0.2s;
  color: white;
}
html body .container__form .rsvp-form button:hover {
  background-color: white;
  border: 1px solid #a03469;
  color: #a03469;
}
html body .container__form .rsvp-form button .paypal-logo {
  margin-left: 8px;
  height: 24px;
  width: 24px;
}
@media only screen and (max-width: 600px) {
  html body .container__form .rsvp-form {
    width: 90%;
  }
}
html body .container__form p {
  text-align: center;
  width: max-content;
}
html body .container__form .link-donate {
  font-weight: 700;
  width: 45%;
  text-align: center;
  height: max-content;
  border: 1px solid #a03469;
  border-radius: 5px;
  padding: 16px 0;
  margin: 16px 0;
  background-color: white;
  color: #a03469;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
}
html body .container__form .link-donate:active {
  color: black;
}
html body .container__form .link-donate:hover {
  background-color: #a03469;
  border: 1px solid #a03469;
  color: white;
}
@media only screen and (max-width: 600px) {
  html body .container__form .link-donate {
    width: 90%;
  }
}
@media only screen and (max-width: 600px) {
  html body .container__form {
    flex-direction: column;
  }
}
html body .footnote {
  color: #535353;
}
html footer {
  margin-top: 40px;
  border-top: 1px solid darkgray;
}
html footer .copyright {
  text-align: center;
  font-size: 12px;
  color: darkgray;
}

/*# sourceMappingURL=style.css.map */
